@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playball&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root { 
  --background-color: #f9f5e8;
  --controls-color: #f8c44c;
  --elements-color: #f3edde;
  --main-color: #5a489e;
  --secondary-color: #62b1e9;
  --text-color: #161719;
  --danger-color: rgb(253, 1, 1);
  --success-color: #9ccc65;
  --warning-color: #edb62b;
  --placeholder-background:#e6dfdfb2;
  --placeholder-background-content:#d5d5d5;
  --icon-color: #5d5656;
  --direction: ltr;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  text-align: start; /* To set the text direction depending on the selected language*/
}

*::-webkit-selection {
  background-color: #7a63cf;
  color: var(--background-color);
}

*::-moz-selection {
  background-color: #7a63cf;
  color: var(--background-color);
}

*::selection {
  background-color: #7a63cf;
  color: var(--background-color);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Montserrat Alternates';
  min-height: 100vh;
}

#app {
  height: 100%;
}

@media (max-width: 640px) {
  body {
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
  }
}
